/target
/xtask/target
/simulator/target
/extras/autd3-rs-emulator/target
/extras/autd3-rs-pattern-holo-wgpu/target
/firmware/cpu/build
/firmware/cpu/board/target
/crates/autd3-rs/tests/golden/generator/target
/firmware/dist

*.jou
*.log
*.logfile
