*
!.gitignore
!README.md
!/rtl/
!/rtl/**/*
!/scripts/
!/scripts/*.tcl
!/coe/
!/coe/*.coe
!/flash-probe/
!/flash-probe/rtl/
!/flash-probe/rtl/*.sv
!/flash-probe/sim/
!/flash-probe/sim/*.sv
!/flash-probe/constrs/
!/flash-probe/constrs/*.xdc
!/flash-probe/scripts/
!/flash-probe/scripts/*.tcl
